/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --layout-page-max-width: 1200px;
  --layout-page-gap: 1rem;
  --layout-header-gap: 0.75rem;
  --layout-mobile-breakpoint: 768px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
